# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.venv/
env/
venv/
ENV/

# IDE config
.vscode/
.idea/

# Model files - DO NOT push to GitHub
streamlit_app/Models/*.pkl
streamlit_app/Models/*.txt
streamlit_app/Models/*.csv

# Data files
Data/*.csv
